@import './customMediaQueries.module.css';


.mainPage {
  margin-left: 20%;
  margin-right: 20%;

  @media (max-width: 767px) {
    margin: 0;
    padding: 0 12px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    margin: 0;
    padding: 0 25px;
  }
}

.topHero {
  background-image:  url("../public/images/background1.1.png");
  background-size: 100%;
  background-position: center;
  padding: 40px 100px 40px 100px;

  @media (max-width: 767px) {
    background-size:cover;
    background-position: center;
    padding: 20px 10px 20px 10px;
  }
}

.topHeroText {
  text-align: center;
}

.topHeroTitle {
  color: var(--colorGrey100);
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 34px;
  }
}


.graySection {
  min-height: 360px;
  padding: 40px 0px 40px 0px;
  background-color: #f4f4f4;
}

.whiteSection {
  min-height: 360px;
  padding: 40px 0px 40px 0px;
  background-color: #ffffff;
}

.columnTitle {
  font-size: 36px;
  line-height: 48px;
  color: var(--marketplaceColor);
  letter-spacing: -.5px;
  text-align: center;
  font-weight: 900;
  padding: 0;
  margin: 0 0 48px;
  position: relative;


  @media (max-width: 767px) {
    font-size: 26px;
    line-height: 34px;
    margin: 0 0 24px;
  }
}

.mainTitleText {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -.5px;
  text-align: center;
  font-weight: 900;
  padding: 0;
  margin: 0 0 12px;
  position: relative;
  color:white;
}

/* Create a pseudo-element for the underline */
.columnTitle::after {
  content: ''; /* This is necessary for the pseudo-element to show */
  display: block; /* Makes the pseudo-element behave like a block */
  margin-top: 8px; /* Space between the text and the line */
  width: 100%; /* Full width of the container */
  height: 1px; /* Thickness of the line */
  background-color: var(--marketplaceColor); /* The green color variable you mentioned */
  position: absolute; /* Position relative to the .columnTitle */
  left: 0; /* Align to the left side of the .columnTitle */
  bottom: -10px; /* Position at the bottom of the .columnTitle */
}

.columnGroupInner,
.columnGroup, .withOutArrowGroup {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @media (--viewportMedium) {
    column-gap: 20px;
    /*flex-direction: row;*/
  }
}

.withOutArrowGroup {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 20px;
  flex-direction: column;
  gap: 25px;

  @media (--viewportMedium) {
    column-gap: 20px;
    flex-direction: row;
  }
}

.withExampleArrowGroup {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;

  @media (--viewportMedium) {
    gap: 60px;
  }
}

.exampleRow {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  padding: 20px 10px 10px;
  
  justify-content: space-between;

  @media (--viewportMedium) {
    flex-direction: row;
    align-items: start;
    border-radius: initial;
    padding: initial;
    border: none;
  }
  @media (--viewportLarge) {
    align-items: stretch;
  }
}

.exampleRow .column {
  width: 100%;

  @media (--viewportMedium) {
    width: 33%;
  }
}

.exampleBox {
  max-width: 520px;
  width: 100%;

  @media (--viewportMedium) {
    max-width: 65%;
    width: 100%;
  }
  @media (--viewportLarge) {
    max-width: 520px;
  }
}

.frameBox {
  height: 100%;
  border: 10px solid #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 #20212447;
  padding: 0 70px 0 0
}

.lichessBoxFrame {
  max-width: 100%;
  width: 310px;

  @media (--viewportMedium) {
    max-width: 65%;
    width: 100%;
  }
  @media (--viewportLarge) {
    max-width: 520px;
  }
}
.lichessBoxFrame .frameBox  {
  overflow-x: auto;

  @media (--viewportMedium) {
    overflow-x: auto;
  }
  @media (--viewportLarge) {
    max-width: 520px;
  }
}

.frameBox .lichessFrame {
  width: 501px;
}

.exampleBox .exampleFrame {
  height: 200px;
  width: 100%;
  border-radius: 4px;

  @media (--viewportMedium) {
    width: 100%;
    height: 300px;
  }
  @media (--viewportLarge) {
    height: 100%;
  }
}

.frameListBox {
  padding: 0 18px;
  font-size: 14px;
}

.arrowBoxWrapper .columnGroupInner,
.arrowBoxWrapper .columnGroup {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  column-gap: 20px;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @media (--viewportMedium) {
    column-gap: 20px;
    flex-direction: row;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.column {
  flex: 33%;
  text-align: center;
}

.columnImg {
  display: block; /* Replaces any existing display property to ensure it's treated as a block-level element */
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Or whatever width you desire */
  
  @media (--viewportMedium) {
    width: 200px; /* Adjusts the width on medium-sized viewports, if necessary */
  }
}

.arrowRight {
  align-self: center;
  width: 40px;
  display: none;
  
  @media (--viewportMedium) {
    width: 70px;
    display: block;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    display: none;
  }
}

.stripePricingHeader {
  color: #000000;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 42px;
  line-height: 1.15em;
  font-weight: 900;
}
@media (max-width: 768px) {
  .stripePricingHeader {
    font-size: 30px;
    margin-bottom: 0px;
  }
}